<div class="page-header">
  <h1>[<%= @settings.teamtag %>] <%= @settings.teamname %> - <%= @type %> ladder</h1>
</div>
<table class="table table-striped">
  <tr>
    <th>Position</th>
    <th>Rank</th>
    <th>Player</th>
    <th>&nbsp;</th>
    <th>Wins / Losses</th>
  </tr>
  <% @ladder.each do |entry| %>
    <tr>
    <% if entry[:position].nil? %>
      <td>-</td>
    <% else %>
      <td><%= entry[:position] %></td>
    <% end %>
    <% if entry[:rank] == 0 %>
      <td>&nbsp;</td>
    <% else %>
      <td>
        <%= entry[:rank] %>
        <% if not entry[:change].nil? %>
          &nbsp;<%= erb :pos_neg, :locals => {:change => entry[:change]} %>
        <% end %>
      </td>
    <% end %>
    <td<%= entry[:player].name == entry[:player].alias ? ' colspan="2"' : '' %>>
        <a href='/<%= @type %>/<%= entry[:player].name %>'><%= entry[:player].name %></a>
      </td>
    <% if entry[:player].name != entry[:player].alias %>
      <td><%= entry[:player].alias %></td>
    <% end %>
    <% if entry[:percent].nil? %>
      <% if entry[:wins] == 0 and entry[:losses] == 0 %>
        <td>No games played</td>
      <% else %>
        <td><%= entry[:wins] %>/<%= entry[:losses] %></td>
      <% end %>
    <% else %>
      <td><%= entry[:wins] %>/<%= entry[:losses] %> (<%= entry[:percent] %>%)</td>
    <% end %>
    </tr>
  <% end %>
</table>
